.shadow-navigation {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.b-shadow-5 {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.source-icon-back {
  background-image: url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_back.png);
  background-image: -webkit-image-set(url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_back.png) 1x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_back@2x.png) 2x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_back@3x.png) 3x);
}
.source-icon-clear {
  background-image: url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_clear_login.png);
  background-image: -webkit-image-set(url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_clear_login.png) 1x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_clear_login@2x.png) 2x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_clear_login@3x.png) 3x);
}
.source-icon-showpass {
  background-image: url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_show_pass.png);
  background-image: -webkit-image-set(url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_show_pass.png) 1x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_show_pass@2x.png) 2x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_show_pass@3x.png) 3x);
}
.source-icon-hidepass {
  background-image: url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_hidden_pass.png);
  background-image: -webkit-image-set(url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_hidden_pass.png) 1x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_hidden_pass@2x.png) 2x, url(https://raw.githubusercontent.com/sgnpdt/login_ss/master/images/icon_hidden_pass@3x.png) 3x);
}
